.idea/
.venv
/notebooks/experiments/1 - model_training_baseline/artifacts/
/notebooks/experiments/1 - model_training_baseline/models/
/notebooks/experiments/2 - model_training_pca/artifacts/
/notebooks/experiments/2 - model_training_pca/models/
/notebooks/experiments/3 - tabpfn_optimized/artifacts/
/notebooks/experiments/3 - tabpfn_optimized/models/
/notebooks/experiments/3 - tabpfn_optimized/TabPFNModels/
/notebooks/experiments/4 - xai/artifacts/
/notebooks/experiments/4 - xai/explainers/
/notebooks/experiments/4 - xai/models/
/notebooks/experiments/4 - xai/plots/
/notebooks/experiments/5 - additional_cfx/artifacts/
/notebooks/experiments/5 - additional_cfx/explainers/
/notebooks/experiments/5 - additional_cfx/models/
/notebooks/experiments/5 - additional_cfx/plots/